<ion-tabs>

  <ion-tab-bar slot="bottom">

    <ion-tab-button tab="tab4" href="../../app/home/home.page.html">
      <ion-icon aria-hidden="true" name="home-outline"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="tab1" href="/tabs/tab1">
      <ion-icon aria-hidden="true" name="search-outline"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="tab2" href="/tabs/tab2">
      <ion-icon aria-hidden="true" name="document-text-outline"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="tab3" routerLink="/my-pay.page">
      <ion-icon aria-hidden="true" name="bag-outline"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
