
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

<ion-content [fullscreen]="true">
  <ion-toolbar>
    <ion-button routerLink="/tabs" class="icons" fill="clear" slot="start"> 
      <ion-icon name="arrow-back-outline"></ion-icon>
    </ion-button>
  </ion-toolbar>
 <h1>Meu carinho</h1>

<div id="list">
  <div id="fruit">      
    <img id="img-fruit" src="../../assets/frutas.png" alt="">
    <div class="txt">
      <p>Frutas </p>
      <p>$50,00 5 itens</p>
    </div>
      <div class="edit">
        <ion-icon name="pencil-outline"></ion-icon> 
      <p>Editar</p>
    </div>
</div>

<div id="divereses">      
  <img id="img-choc" src="../../assets/diversos.png" alt="">
  <div class="txt">
    <p>Frutas </p>
    <p>$35,00 6 itens</p>
  </div>
  <div class="edit">
    <ion-icon name="pencil-outline"></ion-icon>
    <p>Editar</p>
  </div>
</div>

<div id="meat">      
<img id="img-acoug" src="../../assets/acougue.png" alt="">
<div class="txt">
  <p>Frutas </p>
  <p>56,44 3 itens</p>
</div>
    <div class="edit">
      <ion-icon name="pencil-outline"></ion-icon>
      <p>Editar</p>
    </div>
  </div>
</div>
<div id="father">
<div id="pay">
  <div id="value-pay">
    <p>Total a Pagar</p>
    <p>$ 141,84</p>
  </div>
  <div id="pay-now">
    <p>Pagar agora > </p>
  </div>
</div>
</div>

</ion-content>