<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">


<ion-content [fullscreen]="true">
<div id="img-home" >
  <ion-img id='img'
  src="../../assets/home-image.png"
  alt="Sacola de compras,com produtos"
></ion-img>
</div>
<div id="title" >
  <div id="title-writen">
    <h1>Entregamos mantimentos à sua porta</h1>
  </div>
</div>
<p>A mercearia oferece  vegetais e frutas frescas</p>
<P>Ecomendas itens frescos na mercearia</P>

<div  id="button">
  <ion-button size="large" routerLink="/tabs/tab1">
    Iniciar
    <ion-icon slot="end" name="arrow-forward-outline"></ion-icon>
  </ion-button>
</div>
</ion-content>
